<%- include("../partials/head.ejs") %>

    <body class="home__body">
        <%- include("../partials/header.ejs") %>
            <main>

                
                <form method="post" action="/productos/dashboard/<%=id%>/edit?_method=PUT">
                    <div>
                        <label for="name" id="name"> Ingrese el nombre del producto</label>
                        <input type="text" name="name" value="<%=productos.name%>">
                    </div>
                    <div>
                        <label for="price">Modificar precio</label>
                        <input type="text" name="price" id="price" value="<%=productos.precio%>">
                    </div>
                    <div>
                        <label for="stock">esta en stock?</label>
                        <input type="text" name="stock" id="stock" value="<%=productos.stock%>">
                    </div>
                    <div>
                        <label for="discount">Agregue descuento</label>
                        <input type="text" name="discount" id="discount" value="<%=productos.discount%>">
                    </div>
                    <div>
                        <label for="plataform">Modificar plataforma</label>
                        <input type="text" name="plataform" id="plataform" value="<%=productos.plataform%>">
                    </div>
                    <div>
                        <label for="category">Modificar categoria</label>
                        <input type="text" name="category" id="category" value="<%=productos.category%>">
                    </div>
                    <div>
                        <label for="description">Agregue una breve descripcion</label>
                        <input type="text" name="description" id="description" value="<%=productos.description%>">
                    </div>
                    <div>
                        <label for="image">selecciona una imagen para el producto</label>
                        <input type="file" name="image" id="image" value="<%=productos.image%>">
                    </div>
               <!--      <div>
                        <label for="categoria">selecione</label>
                        <select name="categoria" id="categoria">
                            <option value="img-nuevo.png">novedad</option>
                            <option value="img-descuento.png">descuento</option>
                            <option value="img-gratis.png">gratuito</option>
                        </select>
                    </div> -->
                    <div>
                        <button type="reset">Borrar</button>
                        <button type="submit">Crear</button>
                    </div>
                </form>
            </main>
            <%- include("../partials/footer.ejs") %>
    </body>

    </html>